language = "csharp"
run = "mcs -out:main.exe 'Projeto12/main.cs' 'Projeto12/categoria.cs' 'Projeto12/ncategoria.cs' 'Projeto12/produto.cs' 'Projeto12/nproduto.cs' 'Projeto12/cliente.cs' 'Projeto12/ncliente.cs' 'Projeto12/vendaitem.cs' 'Projeto12/venda.cs' 'Projeto12/nvenda.cs' 'Projeto12/arquivo.cs'; mono main.exe"