language = "csharp"
run = "mcs -out:main.exe 'Projeto10/main.cs' 'Projeto10/categoria.cs' 'Projeto10/ncategoria.cs' 'Projeto10/produto.cs' 'Projeto10/nproduto.cs' 'Projeto10/cliente.cs' 'Projeto10/ncliente.cs'; mono main.exe"